.button {
  font-family: 'Montserrat-Bold';
  background: #ffa188;
  border-radius: 12px;
  padding: 1.2rem 2rem;
  font-size: 18px;
  border: none;
  outline: none;
  display: block;
  width: 90%;
  cursor: pointer;
  transition: opacity 0.2s ease;
  margin: 50px auto;

  &:hover {
    opacity: 0.8;
  }
}
