.headerLang {
  padding: 0.6rem 1rem 0.6rem 1.6rem;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  left: 5%;
  top: 15%;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.1px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;

  &_opened {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 0.6rem 1rem 0.4rem 0.6rem;
  }
}
.headerLang__dropdown {
  width: 13px;
  height: 10px;
  margin-top: 0.33rem;
  background: url(../../assets/img/icon-language-dropdown.png);
  cursor: pointer;
  z-index: 999;
}
.headerLang__dropdown_opened {
  background: url(../../assets/img/icon-language-dropdown-open.png);
}
.headerLang__list {
  line-height: 2;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}
.langList__item {
  margin-right: 0.3rem;

  &:hover {
    color: #ffa188;
  }
  &_active {
    color: #ffa188;

    &::before {
      content: url(../../assets/img/icon-language-selected.png);
      margin-right: 0.3rem;
    }
  }
}

.headerDropdown {
  margin-left: 0.5rem;
}
