.container {
  width: 335px;
  height: 100%;
  margin: 0 auto;
}
.contentWrapper {
  background: #8dc6ff;
  border: 1px solid #b0bbc5;
  min-height: 100vh;
}
.feedbackFields {
  width: 100%;
  padding: 39px 25px 39px;
  border-radius: 36px;
  background: #ffffff;
  margin-top: -2.6rem;
  position: relative;
  z-index: 9999;
}
.feedbackFieldsActive {
  margin-top: -9.6rem;
}
