.title {
  font-family: 'Montserrat-Bold';
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.scale__title {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scaleCard {
  background: #f3f6fa;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 10px;
  margin-bottom: 20px;
}
.scaleCard__title {
  margin-bottom: 24px;
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.scaleCard__stars {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
