@import './fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 375px;
  margin: 0 auto;
  font-family: 'Montserrat-Bold';
}
.container {
  width: 335px;
  height: 100%;
  margin: 0 auto;
}
.content-wrapper {
  // margin-top: 5rem;
  background: #8dc6ff;
  border: 1px solid #b0bbc5;
  min-height: 100vh;
}
.feedback__fields {
  width: 100%;
  padding: 39px 25px 39px;
  border-radius: 36px;
  background: #ffffff;
  margin-top: -2.6rem;
  position: relative;
  z-index: 9999;
  &_active {
    margin-top: -9.6rem;
  }
}
