.imgWrapper {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  margin-top: 20px;
}
.deleteIcon {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 999;
  cursor: pointer;
}
.uploadedImg {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
